<div class="advance-search">
    <div class="container">
        <div class="advance-search-main">
            <div class="advance-search-top">
                <h1>Advance Search</h1>
            </div>
            <div class="advance-search-box">
                <div class="name-box">
                    <div class="col-md-12">
                        <h2>Name</h2>
                        <input id="name" type="text" placeholder="Name" onfocus="this.value = '';"
                            onblur="if (this.value == '') {this.value = 'Name';}" />
                    </div>
                </div>
                <div class="radio-container">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="categories-radio">
                                <h2>Categories</h2>
                                <select name="categories" id="categories">
                                    <option name="All Acessories">All Acessories</option>
                                    <option name="Handbag">Handbag</option>
                                    <option name="Bracelet">Bracelet</option>
                                    <option name="Wrist watch">Wrist watch</option>
                                </select>
                            </div>
                            <div class="brand-radio">
                                <h2>Brand</h2>
                                <select name="brand" id="brand">
                                    <option name="All Brands">All Brands</option>
                                    <option name="Louis Vuitton">Louis Vuitton</option>
                                    <option name="Rolex">Rolex</option>
                                    <option name="Chanel">Chanel</option>
                                    <option name="Gucci">Gucci</option>
                                    <option name="Omega">Omega</option>
                                    <option name="Hermes">Hermes</option>
                                    <option name="Dior">Dior</option>
                                    <option name="Prada">Prada</option>
                                    <option name="YSL">YSL</option>
                                    <option name="Citizen">Citizen</option>
                                    <option name="Michael Kors">Michael Kors</option>
                                    <option name="Fendi">Fendi</option>
                                </select>
                            </div>
                            <div class="discount-radio">
                                <h2>Discount</h2>
                                <select name="discount" id="discount">
                                    <option value="0">No promotion</option>
                                    <option value="50">50% and above</option>
                                    <option value="40">40% and above</option>
                                    <option value="30">30% and above</option>
                                    <option value="20">20% and above</option>
                                    <option value="10">10% and above</option>
                                </select>
                            </div>
                        </div>
 
                    </div>
                                           <div class="row">
                            <div class="search-container">
                                <button class="search-button">Search</button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>