<div class="advance-search">
    <div class="container">
        <div class="advance-search-main">
            <div class="advance-search-top">
                <h1>Advance Search</h1>
            </div>
            <div class="advance-search-box">
                <div class="name-box">
                    <div class="col-md-12">
                        <h2>Name</h2>
                        <input name="name" id="name"type="text" placeholder="Name" onfocus="this.value = '';"
                            onblur="if (this.value == '') {this.value = 'Name';}" />
                    </div>
                </div>
                <div class="radio-container">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="categories-radio">
                                <h2>Categories</h2>
                                <select id="categories" >
                                    <option value="all">All Acessories</option>
                                    <option value="handbag">Handbag</option>
                                    <option value="bracelet">Bracelet</option>
                                    <option value="wristwatch">Wrist watch</option>
                                </select>
                            </div>
                            <div class="brand-radio">
                                <h2>Brand</h2>
                                <select id="brand" >
                                    <option value="all">All Brands</option>
                                    <option value="louisvuitton">Louis Vuitton</option>
                                    <option value="rolex">Rolex</option>
                                    <option value="chanel">Chanel</option>
                                    <option value="gucci">Gucci</option>
                                    <option value="omega">Omega</option>
                                    <option value="hermes">Hermes</option>
                                    <option value="dior">Dior</option>
                                    <option value="prada">Prada</option>
                                    <option value="ysl">YSL</option>
                                    <option value="citizen">Citizen</option>
                                    <option value="michaelkors">Michael Kors</option>
                                    <option value="fendi">Fendi</option>
                                </select>
                            </div>
                            <div class="discount-radio">
                                <h2>Discount</h2>
                                <select id="discount" >
                                    <option value="0">No promotion</option>
                                    <option value="50">50% and above</option>
                                    <option value="40">40% and above</option>
                                    <option value="30">30% and above</option>
                                    <option value="20">20% and above</option>
                                    <option value="10">10% and above</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="search-container">
                            <button class="search-button" id="search-button">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>