<!DOCTYPE HTML>
<html>

<head>
  <title>Shoplist A Ecommerce Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
  <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="/js/jquery-1.11.0.min.js"></script>
  <!-- Custom Theme files -->
  <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
  <!-- Custom Theme files -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Shoplist Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEri/csson, Motorola web design" />
  <script
    type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <!--Google Fonts-->
  <link href='//fonts.googleapis.com/css?family=Hind:400,500,300,600,700' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
  <!-- start-smoth-scrolling -->
  {{!--
  <script type="text/javascript" src="/js/move-top./js"></script>
  <script type="text/javascript" src="/js/easing./js"></script> --}}
  <script type="text/javascript">
    jQuery(document).ready(function ($) {
      $(".scroll").click(function (event) {
        event.preventDefault();
        $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
      });
    });
  </script>
  <!-- //end-smoth-scrolling -->
  <script src="/js/simpleCart.min.js"> </script>
  <script src="/js/bootstrap.min.js"></script>
</head>

<body>
  <!--header strat here-->
  <div class="header">
    <div class="container">
      <div class="header-main">
        <div class="top-nav">
          <div class="content white">
            <nav class="navbar navbar-default" role="navigation">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand logo">
                  <a href="/"><img src="/images/logo1.png" alt=""></a>
                </div>
              </div>
              <!--/.navbar-header-->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li><a href="/product/men">Men</a></li>
                  <li><a href="/product/women">Women</a></li>
                  <li><a href="/product/sale">Sale</a></li>
                  <li><a href="/contact">Contact</a></li>
                  <li><a href="/admin/customer" class="customer-for-admin">Customer</a></li>
                  <li><a href="/admin/order" class="order-for-admin">Order</a></li>
                </ul>
              </div>
              <!--/.navbar-collapse-->
            </nav>
            <!--/.navbar-->
          </div>
        </div>
        <div class="header-right">
          <div class="search">
            <div class="search-text">
              <input class="serch" type="text" placeholder="Search" onfocus="this.value = '';"
                onblur="if (this.value == '') {this.value = 'Search';}" />
            </div>
            <div class="cart box_1" style="margin-top: 15px;">
              <a href="/user/checkout">
                <h3>
                  <img src="/images/cart.png" alt="" />
                  <div class="total">
                    <span style="margin-left: 0.5em">(0)</span>
                  </div>
                </h3>
              </a>
              {{!-- <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p> --}}
            </div>
            <div class="head-signin dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                style="font-family: 'Oswald', sans-serif; text-decoration: none; color:black; font-size: 0.8em"><i
                  class="hd-dign"></i>Sign in</a>
              <ul class="dropdown-menu user-dropdown" style="min-width: 160px;">
                <div class="row">
                  <div class="row-sm-3">
                    <ul class="multi-column-dropdown">
                      <li><a href="/user">My information</a></li>
                      <li><a href="/user/password">Change password</a></li>
                      <li><a href="/user/arriving">Arriving (3)</a></li>
                      <li><a href="/user/history">History</a></li>
                      <li><a href="#">Log out <span class="glyphicon glyphicon-log-in" aria-hidden="true"
                            style="padding-left: 8px"></span></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </ul>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
  <!--header end here-->
  {{{body}}}
  <!--footer strat here-->
  <div class="footer">
    <div class="container">
      <div class="footer-main">
        <div class="col-md-3 footer-grid-icon">
          <ul>
            <li><a href="#"><span class="u-tub"> </span></a></li>
            <li><a href="#"><span class="instro"> </span></a></li>
            <li><a href="#"><span class="twitter"> </span></a></li>
            <li><a href="#"><span class="fb"> </span></a></li>
            <li><a href="#"><span class="print"> </span></a></li>
          </ul>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="copy-rights">
        <p>THANK YOU FOR VISITING OUR SHOP</p>
      </div>
    </div>
  </div>
  </div>
  <!--footer end here-->
</body>

</html>