<!--start-history-->
<div class="history">
    <div class="container">
        <div class="history-top">
            <div class=" cart-items heading">
                <h1 style="font-size: 3em;">History</h1>
                <div class="history-list">
                    <h3 class="new-date">Delivered: 02/06/2022</h3>
                    <ul class="unit">
                        <li><span>Item</span></li>
                        <li><span>Product Name</span></li>
                        <li><span>Unit Price</span></li>
                        <div class="clearfix"> </div>
                    </ul>
                    <ul class="cart-header">
                        <li class="ring-in"><a href="/product"><img src="/images/c.jpg" class="img-responsive"
                                    alt=""></a>
                        </li>
                        <li><span>Bracelets</span></li>
                        <li><span>$ 290.00</span></li>

                        <div class="clearfix"> </div>
                    </ul>
                    <ul class=" cart-header1">
                        <li class="ring-in"><a href="/product"><img src="/images/c2.jpg" class="img-responsive"
                                    alt=""></a>
                        </li>
                        <li><span>Watches</span></li>
                        <li><span>$ 300.00</span></li>
                        <div class="clearfix"> </div>
                    </ul>
                    <ul class="cart-header2">
                        <li class="ring-in"><a href="/product"><img src="/images/c3.jpg" class="img-responsive"
                                    alt=""></a>
                        </li>
                        <li><span>Handbag</span></li>
                        <li><span>$ 360.00</span></li>
                        <div class="clearfix"> </div>
                    </ul>

                    <h3 class="new-date">Delivered: 06/02/2021</h3>
                    <ul class="unit">
                        <li><span>Item</span></li>
                        <li><span>Product Name</span></li>
                        <li><span>Unit Price</span></li>
                        <div class="clearfix"> </div>
                    </ul>
                    <ul class="cart-header">
                        <li class="ring-in"><a href="/product"><img src="/images/c.jpg" class="img-responsive"
                                    alt=""></a>
                        </li>
                        <li><span>Bracelets</span></li>
                        <li><span>$ 290.00</span></li>

                        <div class="clearfix"> </div>
                    </ul>
                    <ul class=" cart-header1">
                        <li class="ring-in"><a href="/product"><img src="/images/c2.jpg" class="img-responsive"
                                    alt=""></a>
                        </li>
                        <li><span>Watches</span></li>
                        <li><span>$ 300.00</span></li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end-history-->