<div class="my-password">
    <div class="container">
        <div class="password-main">
            <h1>Change password</h1>
            <form>
                <input type="password" placeholder="Current password" class="password-input password-one-line">
                <input type="password" placeholder="New password" class="password-input password-one-line">
                <input type="password" placeholder="Comfirm new password" class="password-input password-one-line">
                <input type="submit" value="Change">
            </form>
        </div>
    </div>
</div>