<!--log in start here-->
<div class="forget">
    <div class="container">
        <div class="login-main">
            <h1>Forget Password</h1>
            <div class="col-md-12 login-left">
                <form action="/login/forget" method="post" style="padding: 2em 0">
                    <h2>Check your mail for a new password</h2>
                    <input type="email" name="email" placeholder="Your email" required>

                    <div style="float: right;"> <input type="submit" value="Reset password">
                    </div>
                    <div class="clearfix"> </div>
                </form>
            </div>
        </div>
    </div>
    <!--log in end here-->